// Bootstrap variables.
@import 'variables.less';

.region-content {
  panel,.panel-default {
    border: none
  }
  legend {
    margin: 0;
  }
  fieldset {
    .panel-body {
      padding: 15px;
      border-right: 1px solid #E4E4E4;
      border-left: 1px solid #E4E4E4;
      border-bottom: 1px solid #E4E4E4;
    }
    .panel-heading {
      border: 1px solid #ddd;
      background-color:#FFEBAB;
      padding: 1px 0 0 15px;
      line-height: 30px;
    }
  }
  label {
    float: left; 
    width: 120px;
    margin-right: 0;
  }
  textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    width: 70%;
    color:@grayDark
  }
  textarea.form-control {background:@inputColor;border-color:@cream;}
  .help-block {
    margin-top: 25px;
    margin-bottom: 35px;
  }
  #user-profile-form {
    input[type="password"] {
      width: 25%;
    }
  }
  #commerce-checkout-form-checkout,#commerce-checkout-form-review {
      select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
        width: 60%
      }
    div.addressfield-container-inline {
       div.form-item {
         float: none;
         margin: 0;
       }
    }
    .form-item-customer-profile-shipping-commerce-customer-profile-copy {
        width: 100%;
        float: left; 
      label {
          width: 90%;
          margin-bottom: 26px;
      }
    }
    .form-item-commerce-shipping-shipping-service {
      
    }
    .commerce-credit-card-expiration {
      float: left;
      width: 100%;
      .commerce-month-year-divider {
        display: none;
        // position: relative;
        // left: -444px;
        // font-size: 36px;
        // top: 9px;
      }
      .form-type-select {
        margin: 0;
        float: left;
        width: 40%;
      }
      select {
        width: 50%; 
      }
    }
    .field-name-field-other {
      display:none; 
    }
    .error {
      background: none;
    }
  }
  .component-total {
    color:red;
  }
}